package com.github.samlam140330;

public class Credential {
    public final String endpoint = "";
    public final int port = 3306;
    public final String username = "";
    public final String password = "";
}
